@import "../../styles/values";

.modalDim {
  @include modal();
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  @include modal();
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalDialog {
  height: 100%;
  @include flex();
}

.modalContent {
  padding: 50px;
  background-color: #fff;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}